@media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 844px) 
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: portrait) {

        .container_result{
            width: 90vw;
            margin: 0 auto;
            grid-template-columns: repeat(2, 1fr);
        }

        .container_item{
            width: 43vw;
            height: 33vh;
            padding: 5px 10px;
            border-radius: 8px;
        }

        .container_item p {
            margin-bottom: 3.5rem;
            font-size: 0.9rem;
            width: 90%;
            height: 10px;
        }

        .container_item .container_img{
            width: 33vw;
            height: 16vh;
        }
    }
