*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}

/* ------- GENERALS --------- */


/* -------- my Container Box ---------- */
.product-details {
    display: inline-flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    margin: 1vh auto;
    background: #96C0B7;
    border-radius: 10px;
    min-height: 90vh; /* use min-height instead of height to allow the container to expand if necessary */
    width: 70vw;
}

/*------------ IMAGE------------ */
.product-detailsImg {
    width: 65vw;
    height: 47vh;
    margin: 2vh 0 1vh 0;
    /* clip: rect(10% 20% 10% 5%); */
    object-fit: cover;
    -webkit-box-shadow: -0.5px 0.8px 24px -2px #fafafa;
    box-shadow: -1px 2px 24px -3px #fafafa;
}

/* --------- mein all Texts / both container --------- */
.details-flex {
    display: flex;
    justify-content: space-between;
    margin: 2vh auto; 
    width: 65vw;
}


/* --------- Container left: description ----------- */
.product-details-headline {
    font-family: "Poppins-Regular";
    font-size: 1.8rem;
    margin: 0 0 2vh 0;
    text-align: left;
    display: flex;
}

.instruction-block {
    display: flex;
    flex-direction: column;
    width: 48vw;
    text-align: left;
}

.instructions ul {
    padding: 0;
}

.instructions li {
    font-family: "Poppins-Regular";
    font-weight: 400;
    margin: 0 0 1.5rem 1.3rem;
}


/* --------- Container right: Measure & Ingredients ----------- */
.productDetails-ingredient-block {
    width: 8rem;
    text-align: left;
    margin: 0 auto;
}

.product-details-h3{
    font-size: 1.5rem;
    margin: 0 0 2vh 0;
}

.ingredient-points {
    text-decoration: none;
    margin-bottom: 1.5vh;
    font-weight: 500;
}

/* --------------- button -------------------  */
.productDetails-link {
    font-family: "Roboto-button";
    font-size: 1.1rem;
    background-color: white;
    color:#96C0B7;
    padding: 0.8rem 1.5rem;
    margin: 1vh 0 0 2vw;
    border:none; 
    text-decoration: none;
    border-radius: 10px;
    font-weight: 900;
    display: inline-flex;
}