.App {
  text-align: center;
}


/* ======= GENERALS ======= */

@font-face {
  font-family: "Poppins-extraLight";
  src: url("./components/fonts/Poppins/Poppins-ExtraLight.ttf");
}

@font-face {
  font-family: "Poppins-light";
  src: url("./components/fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
  font-family: "Poppins-bold";
  src: url("./components/fonts/Poppins/Poppins-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.productItems img {
  width: 60px;
}
.productList {
  display: grid;
  grid-template: repeat(3, 1fr);
}

.strInstructions {
  width: 75vw;
  font-size: 6px;
  margin: 0 auto;
  text-align: center;
}

